* {
  box-sizing: border-box;
}

body {
  background-color: #f9fada;
}

.chartIndexing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroSection {
  max-width: 90vw;
  overflow-x: scroll;
}

.logo {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
