* {
  box-sizing: border-box;
}

body {
  background-color: #f9fada;
}

.chartIndexing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroSection {
  max-width: 90vw;
  overflow-x: scroll;
}

.logo {
  animation: fadeIn 2s ease-in-out;
}

.waveDiv {
  margin-top: 5rem;
  width: 100vw;
  overflow-x: hidden;
}

.waveDiv img {
  width: 200vw;
  animation: moveInOut 12s linear infinite;
  position: fixed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveInOut {
  0% {
  }
  100% {
    transform: translateX(-100vw);
  }
}
