* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f9fada;
}

.chartIndexing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroSection {
  max-width: 90vw;
  overflow-x: scroll;
}

button {
  border: none;
  text-align: inherit;
  font: inherit;
  color: white;
  appearance: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin: 0.3rem;
  background-color: #45bf9c;
  border-radius: 3rem;
}
select {
  text-align: inherit;
  font: inherit;
  color: white;
  padding: 0.3rem 0 0.3rem 1rem;
  margin: 0.3rem;
  background-color: #46b9c0;
  border-radius: 3rem;
}

.logo {
  animation: fadeIn 2s ease-in-out;
}

.waveDiv {
  margin-top: 5rem;
  width: 100vw;
  overflow-x: hidden;
}

.waveDiv img {
  width: 200vw;
  animation: moveInOut 12s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveInOut {
  0% {
  }
  100% {
    transform: translateX(-100vw);
  }
}
